.articleContent img {
  display: block;
  max-width: 100%;
  margin: 2em auto;
}

.articleContent figcaption {
  color: var(--color-muted);
  font-size: 14px;
  text-align: center;
  margin: -2em 0 2em;
}

.articleContent h1,
.articleContent h2,
.articleContent h3 {
  margin: 2em 0 0.4em;
}

.articleContent h2 {
  font-size: 1.4em;
  font-weight: bold;
}

.articleContent h3 {
  font-size: 1.2em;
  font-weight: bold;
}

.articleContent blockquote {
  margin: 2em 2em 2em;
  background: transparent url("/assets/quote.svg") 2em top no-repeat;
  border-left: 2px solid var(--color-divider);
  padding: 50px 0 0 2em;
  padding-top: 50px;
}

.articleContent p,
.articleContent div,
.articleContent ul,
.articleContent ol,
.articleContent pre {
  margin-bottom: 0.8em;
  margin-top: 0.8em;
}

.articleContent pre {
  margin-left: calc(-1 * var(--spacing-content-horizontal-padding));
  margin-right: calc(-1 * var(--spacing-content-horizontal-padding));
  padding: 1em var(--spacing-content-horizontal-padding);
  position: relative;
  background-color: var(--theme-code-bg);
  color: var(--theme-code-text);
  line-height: 1.3;
  overflow-y: hidden;
  overflow-x: auto;
}

.articleContent pre > * {
  font-size: 0.9em;
}

.articleContent li {
  margin-top: 0em;
}

.articleContent li pre {
  margin-left: 0;
  margin-right: 0;
  border-radius: 6px;
}
