.banner {
  position: relative;
  background: rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  margin-top: 2em;
  padding: 1em 1em;
}

.banner nav a {
  margin-right: 1em;
}

.social {
  display: flex;
  position: absolute;
  right: 1em;
  top: 1em;
  margin: 0;
  align-items: center;
}

.social img {
  display: inline;
  margin: 0;
  margin-left: 0.6em;
}

.banner h2 {
  margin: 0;
  font-size: 1.1em;
}

.description {
  margin-top: 0;
  color: var(--color-muted);
  font-size: 0.8em;
}
