---
import BaseFooter from "component:BaseFooter";
---

<body>
  <div id="root">
    <div class="wrapper">
      <div class="logo">
        <a href="/">
        <div class="logo-bio">
          <img width="80" height="80" src="/assets/bio.jpg" />
          </div>
        </a>
      </div>
      <slot />
    </div>
    <div class="footer">
      <BaseFooter />
    </div>
  </div>
</body>

<style lang="scss">
  .wrapper,
  .footer {
    max-width: 48em;
    width: 100%;
  }

  .footer {
    margin: 30px auto 40px;
  }

  .wrapper {
    margin: 80px auto 0;
    background-color: var(--color-content-bg);
    border-radius: 6px;
    padding: 2em var(--spacing-content-horizontal-padding);
    box-shadow: 0px 0px 15px 0px rgba(29, 28, 26, 0.05);
    transition: box-shadow 0.2s;

    &:hover {
      box-shadow: 0px 0px 15px 0px rgba(29, 28, 26, 0.1);
    }
  }

  .logo {
    display: flex;
    justify-content: center;
    margin: calc(-2em - 40px) auto 1em;

    .logo-bio {
      background: #bed6f2;
      border-radius: 32%;
      height: 80px;
      width: 80px;
      border: 2px solid rgba(255, 255, 255, 0.8);
      overflow: hidden;
      transition: box-shadow 0.2s;

      &:hover {
        box-shadow: 0px 0px 15px 0px rgba(29, 28, 26, 0.05);
      }
    }
  }
</style>
