.postPreview {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 4px solid var(--theme-divider);
}

.postPreview header {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1em;
  text-align: left;
}

.title,
.author,
.publishDate {
  margin: 0;
}

.publishDate,
.author {
  font-size: 1em;
  color: var(--theme-text-lighter);
}

.title {
  font-size: 1.6em;
  font-weight: 700;
  color: var(--theme-text);
}

.readMore {
  display: inline-block;
  margin-top: 1em;
}
