---
const { type, title } = Astro.props;
---

<div data-hint-type={type || "info"} class="hint">
  {title ? <div class="callout-title">{title}</div> : null}
  <slot />
</div>

<style lang="scss">
  .hint {
    border-radius: 4px;
    padding: 1em 1.4em;
    font-size: 14px;
    margin: 2em 0;

    .callout-title {
      font-weight: bold;
      font-size: 16px;
      margin-top: 0;
      margin-bottom: 0.2em;
    }

    :global(p) {
      margin-top: 0;
    }

    :global(p:last-child) {
      margin-bottom: 0;
    }

    &[data-hint-type="info"] {
      color: #333;
      background-color: #efefef;
    }

    &[data-hint-type="warning"] {
      color: #322306;
      background-color: #fceccd;
    }
  }
</style>
