.astroTweet {
  display: flex;
  flex-direction: column;
  background: white;
  font-size: 0.75em;
  line-height: 1.35em;
  border-radius: 5px;
  margin: 2em auto;
  min-height: 60px;
  padding: 0px;
  border: 1px solid #efefef;
}

.astroTweet:hover {
  border: 1px solid #e8e8e8;
}

.astroTweet div {
  margin-bottom: 0;
}

.astroTweetMedia {
  position: relative;
  overflow: hidden;
}

.astroTweetMedia img {
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.astroTweetHeader {
  margin: 1em 0;
  align-items: center;
  padding: 0 1em;
  display: flex;
}

.astroTweetHeaderProfilePicture {
  height: 40px;
  min-height: 40px;
  width: 40px;
  border-radius: 50px;
  background-color: #ececec;
  margin: 0;
}

.astroTweetHeaderNames {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1em;
  flex: 1 0 auto;
}

.astroTweetHeaderNamesFull {
  color: #1c2022;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

.astroTweetHeaderNamesUsername {
  color: #697882;
  font-size: 14px;
  margin: 0;
}

.astroTweetHeaderTwitterLogo {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.astroTweetHeaderTwitterLogo img {
  margin: 0;
}

.astroTweetBody {
  padding: 0 1rem 1rem;
  color: #1c2022;
  font-size: 16px;
  line-height: 22px;
}

.astroTweetDate {
  font-size: 14px;
  color: #697882;
  padding: 0 1rem;
}

.astroTweetActions {
  display: flex;
  color: #aab8c2;
  font-size: 14px;
}

.astroTweetActionsButton {
  padding: 1rem;
}
